TELEGRAM_BOT_TOKEN=TELEGRAM_BOT_TOKEN_HERE
ADMIN_ID_1=12345
ADMIN_ID_2=67890
ALLOW_TELEGRAM_GROUP_ADMINS=true
BIRTHDAY_DATE_CULTURE=en-US
BIRTHDAY_SEND_HOUR=10
BIRTHDAY_TIMEZONE=UTC
BIRTHDAY_LATE_WINDOW_MONTHS=2
BIRTHDAY_CHECK_INTERVAL_MINUTES=10